.popcontainer {
  background-color: gray;
  height: 100vh;
  width: 100%;
}
.popcontainer button:hover {
  background-color: rgba(0, 255, 98, 0.537);
}
.popup_main {
  background-color: rgba(0, 255, 98, 0.537);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup_inside {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 100px;
  border-radius: 15px;
}
.popup_inside button {
  background-color: red;
  padding: 7px;
  margin-top: 10px;
}
.popup_inside button:hover {
  background-color: gray;
}
